*{
  font-size:18px;
  /* direction: ltr; */
  text-align: right;
  color: #2F3542;
}

.angular-app{
  /* padding: 2rem; */
  width:100%;
}

.container{
  /* border-bottom: 1px solid lightgray; */
  /* border-top: 1px solid lightgray; */
  display:flex;
  flex-direction:column;
  padding: 2rem;
  /* margin-bottom: 1rem; */
  border-bottom:2px solid #F1F2F6;
}

.portfolio{
  display:flex;
  flex-direction:column;
}

.filter{
  display:flex;
  flex-direction:column;
  margin-bottom: 0rem;
  padding: 0;
}

.example-radio-button{
  margin: 0 .5rem;
}

.border-bottom{
  border-bottom: 2px solid #F1F2F6;
}

.bold{
  font-weight: bold;
}

.border{
  /* border: 1px solid black; */
}

.text-upper{
  text-transform: uppercase;
}

.rtl{
  /* direction:rtl; */
}

.mt-1{
  margin-top:1rem;
}

.mat-form-field-wrapper{
  padding-bottom:0rem!important;
}

.mat-expansion-panel-header{
  direction: rtl;
  /* background-color: white; */
}

.mat-expansion-panel-header-title{
  margin-right: auto!important;
  margin-right: 0.5rem;
}

.mat-expansion-panel{
  padding:0rem 1rem;
  }

.mat-expansion-panel-content{
  background-color:#F8F8FA;
  /* padding: 1rem 0rem 0rem 0rem; */
}

.container-panel{
  /* border-bottom: 1px solid lightgray; */
  /* border-top: 1px solid lightgray; */
  display:flex;
  flex-direction:column;
}

.mat-expansion-panel .mat-expanded .mat-expanded .mat-expansion-indicator::after{
  color: red!important;
}

.mat-checkbox-checked{
  font-weight: bold;
}

.padding{
  padding-left:1rem;
}

.mat-form-field-flex{
  background-color: transparent;
  border: 1px solid black;
}
